.p1 {
  margin-bottom: 40px;
}

.p2 {
  margin-top: 20px;
}

.p3,
.p4 {
display: inline-block;
margin: 0 10px;
}



#title {
    color: red;
}

.title {
    color: green;
}

h1 {
    color: purple;
}
/* | important! | inline styles | id | attribute, class, pseudo-class | element, pseudo-element | 
| 0, 0, 0, 0, 0 |
*/
/* Only vertical margins collapse */
.image-description {
    display: inline;
}