html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* justify-content: center;
  align-items: center; */
}

.container1 {
  flex: 1;
}
.container2 {
  flex: 1;
  background-color: #666;
  border-top: 5px solid #999;
}

.box1 {
  position: relative;
  width: 300px;
  top: 100px;
  left: 400px;
}

.box2 {
  position: relative;
  background-color: white;
  width: 600px;
  height: 240px;
  top: 50px;
  margin: auto;
  border-bottom: 5px solid #999;
}

.title1 {
  margin-bottom: 30px;
}
.title2 {
  position: relative;
  margin-bottom: 30px;
  background-color: #ffbf00;
  width: 350px;
  top: 10px;
  left: -5px;
  border-bottom: 5px solid #c90;
  text-align: center;
}

.paragraph1 {
  margin-bottom: 10px;
}
.paragraph3 {
  margin: 10px 20px;
}
.paragraph4 {
  margin: 10px 20px;
}
.passion {
  color: #35a479;
  font-weight: bold;
}

.logistics {
  color: #35a479;
  font-weight: bold;
}
