:root {
  font-size: 20px;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  margin-left: 90px;
  padding: 16px;
}

p {
  margin-bottom: 16px;
}

.title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.navbar {
  width: 80px;
  height: 100vh;
  position: fixed;
  background-color: #23232e;
  transition: width 200ms ease;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 80px;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.6);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(0.6);
  background: #141418;
}

.link-text {
  display: none;
  margin-left: 16px;
}

.nav-link svg {
  min-width: 32px;
  margin: 0 24px;
}

.navbar:hover {
  width: 300px;
}

.navbar:hover .link-text {
  display: block;
  color: rgba(255, 255, 255, 1);
}

.fa-primary {
  color: #ff7eee;
}
.fa-secondary {
  color: #df49a6;
}

.logo {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  background: #141418;
  width: 100%;
}

.navbar:hover .logo svg {
  display: none;
}
.logo-text {
  position: relative;
  left: 60px;
}
