/* Target everything */
*:focus {
  outline: 3px solid deeppink;
}
/* other option 
a:focus,
button:focus,
input:focus {
  outline: 3px solid deeppink;
} */

/* Element (tag) selector */
li {
  list-style-type: none;
}

/* ID selector */
#blue {
  background-color: blue;
}

/* Class selector */
.list-item {
  background-color: aqua;
}

/* Atribute selector */
[disabled] {
  color: brown;
}

[type="text"] {
  border: 2px solid green;
}

a {
  color: yellow;
  text-decoration: none;
}

/* Pseudo classes */

a:visited {
  color: darkolivegreen;
}

a:active {
  color: red;
}

a:focus {
  /* outline: 3px solid deeppink; */
}

.border-hover:hover {
  border: dotted deeppink;
}

/* number, even, odd */
li:nth-child(3) {
  color: indigo;
}

/* Pseudo elements */

/*
.star::before {
  content: "⭐";
  font-size: 25px;
}
*/

.star::after {
  content: "⭐";
  font-size: 25px;
}

.star::first-letter {
  font-size: 30px;
}

.text {
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  height: 100px;
  text-align: center;
  color: hsl(255, 0%, 50%);
  color: #aaee50;
  color: rgba(33, 33, 33, 0.5);
}

.color-block {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.color-block:nth-child(1) {
  background-color: hsl(160, 100%, 20%);
}
.color-block:nth-child(2) {
  background-color: hsl(160, 100%, 30%);
}
.color-block:nth-child(3) {
  background-color: hsl(160, 100%, 40%);
}
.color-block:nth-child(4) {
  background-color: hsl(160, 100%, 50%);
}
.color-block:nth-child(5) {
  background-color: hsl(160, 100%, 60%);
}
.color-block:nth-child(6) {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
.color-block:nth-child(7) {
  background: radial-gradient(
    circle at top,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
.color-block:nth-child(8) {
  background: conic-gradient(red, orange, yellow, green, blue, indigo, violet);
}
.box {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 2px solid blue;
  background-color: red;
}

/* 
-> color name
-> hexa
-> rgb
-> hsl
0 - 9 A, B, C, D, E, F
*/

.container1 {
  color: purple;
  font-size: 20px;
}

p + p {
  color: red;
}

div ~ p {
  color: darkgreen;
}

/* .container1 > p:nth-child(1) {
  color: blue;
} */

/* Any descendant combinator " " */
/* Direct descendant combinator > */

html {
  font-size: 16px;
}

body {
  font-family: "Ysabeau SC", sans-serif;
}

h1 {
  font-weight: 900;
  font-style: italic;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
/* 
px
em -> se raporteaza la font-sizeul elementului parinte;
rem -> se raporteaza la root (body) font-size;
*/
